pytest==5.2.0
pytest-timeout==1.3.3
tox==3.14.0
flake8==3.7.8
flake8-commas==2.0.0
flake8-comprehensions==2.2.0
flake8-docstrings==1.4.0
flake8-quotes==2.1.0
mypy==0.720
pydocstyle==3.0.0
retrying==1.3.3
